<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllStudentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalNumberOfStudentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TotalNumberOfStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAverageAgeMalesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayAverageAgeMalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAverageAgeFemalesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayAverageAgeFemalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayYoungestStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayYoungestStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayMaleFemaleTotalServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisplayMaleFemaleTotalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/SearchStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllStudentsServlet</servlet-name>
        <url-pattern>/ViewAllStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalNumberOfStudentsServlet</servlet-name>
        <url-pattern>/TotalNumberOfStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAverageAgeMalesServlet</servlet-name>
        <url-pattern>/DisplayAverageAgeMalesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAverageAgeFemalesServlet</servlet-name>
        <url-pattern>/DisplayAverageAgeFemalesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayYoungestStudentServlet</servlet-name>
        <url-pattern>/DisplayYoungestStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayMaleFemaleTotalServlet</servlet-name>
        <url-pattern>/DisplayMaleFemaleTotalServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/login_error_page.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/error_page.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>PrincipalConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>PrincipalResource</web-resource-name>
            <description>Resource available to a principal</description>
            <url-pattern>/add_Student.html</url-pattern>
            <url-pattern>/search_student.html</url-pattern>
            <url-pattern>/view_all_Students.html</url-pattern>
            <url-pattern>/delete_student.html</url-pattern>
            <url-pattern>/display_number_students.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of principal</description>
            <role-name>principal</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>TeacherConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>TeacherResource</web-resource-name>
            <description>The resources available to a teacher</description>
            <url-pattern>/display_male_female_total.html</url-pattern>
            <url-pattern>/display_avg_age_males.html</url-pattern>
            <url-pattern>/display_avg_age_females.html</url-pattern>
            <url-pattern>/display_youngest_student.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of teacher</description>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/login_error_page.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A principal can add,remove,find and view all students in a class.</description>
        <role-name>principal</role-name>
    </security-role>
    <security-role>
        <description>A teacher can only view only the statistics.</description>
        <role-name>teacher</role-name>
    </security-role>
</web-app>
